.flatpickr-years {
  display: flex;
  width: 50%;
}
.flatpickr-months {
  width: 50%;
}
.flatpickr-prev-month,
.flatpickr-next-month {
  float: none;
}
.flatpickr-prev-year,
.flatpickr-next-year {
  width: 16px;
  height: 16px;
}
.flatpickr-year {
  background: transparent;
  width: 40px;
  color: rgba(0, 0, 0, 0.9);
  fill: rgba(0, 0, 0, 0.9);
}
